{% extends "./common/common.html" %}

{% block content %}
<!--<form>-->
    <span class="bg-primary center-block" style="text-align: center">博客分类列表</span>
    <table id="example2" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>分类名称</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for data in category %}
        <tr>
            <td>{{data.id}}</td>
            <td class="name">{{data.name}}</td>
            <td><a href="/admin/blog/edit?edit={{data.name}}" class="edit">编辑</a><button class="del">删除</button><a href="/admin/content/list?category_id={{data.id}}">详情查看</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/admin/blog/add">新增</a>
<!--</form>-->
<script src="/static/admin/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    //  点击删除按钮
    $('.del').each(function () {
        $(this).on("click",function(){
            let category_del = $(this).parent().parent().find('td.name').html();
            $.ajax({
                data:{
                    name:category_del
                },
                url:'/admin/blog/list',
                type:'post',
                success:function (res) {
                    toastr.success(res.name + res.data );
                    setTimeout(function () {
                        location.reload();
                    },1500);
                }
            })
        });
    })

</script>
{% endblock%}