<!--{% extends "./common/common.html" %}-->

{% block content %}
<form action="/admin/blog/add" method="post">
    <span class="bg-primary center-block" style="text-align: center">添加博客分类</span>
    <input type="text" name="name" placeholder="请输入要添加的类名">
    <button type="submit">提交</button>
</form>
<script type="text/javascript">
    //    $.ajax({
    //        url: '/admin/login/login',
    //        type: 'POST',
    //        dataType: 'json',
    //        data: {
    //            name:$('#name').val()
    //        },
    //        success: function (res) {
    //            location.href = res.url;
    //        }
    //    });
</script>
{% endblock%}